<div class="form-control w-full">
  <label [for]="id" class="label">
    <span class="label-text">{{ label }}</span>
  </label>
  <div class="join">
    <input
      [type]="isPasswordVisible ? 'text' : 'password'"
      [id]="id"
      [disabled]="isDisabled"
      (input)="onInput($event)"
      class="input input-bordered join-item w-full"
    />
    <button
      type="button"
      (click)="togglePasswordVisibility()"
      [disabled]="isDisabled"
      class="btn btn-primary join-item"
    >
      <i
        *ngIf="isPasswordVisible"
        class="fa-solid fa-eye-slash"
        style="color: #ffffff"
      ></i>
      <i
        *ngIf="!isPasswordVisible"
        class="fa-solid fa-eye"
        style="color: #ffffff"
      ></i>
    </button>
  </div>
  <ng-content select="[errors]" />
</div>
