<main class="grid grid-cols-1 lg:grid-cols-2">
  <section
    class="col-span-1 flex justify-center items-center p-8 md:px-32 bg-base-100"
  >
    <div class="w-full">
      <h1 class="text-4xl font-extrabold mb-4">Sign in</h1>
      <form class="flex flex-col mb-4">
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Email</span>
          </label>
          <input type="email" id="email" class="input input-bordered" />
        </div>
        <app-password id="password" label="Password" class="mb-4" />
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>
      <span class="text-center">
        Don't you have an account?
        <a routerLink="/auth/sign-up" class="font-bold text-primary">Sign up</a>
      </span>
    </div>
  </section>
  <section
    class="col-span-1 relative hidden lg:flex h-screen bg-gradient-to-br from-primary to-cyan-500"
  >
    <div
      class="absolute bottom-0 m-8 backdrop-blur bg-white/20 text-white p-4 rounded-xl"
    >
      <h2 class="text-2xl font-bold mb-2">Lorem ipsum dolor sit amet</h2>
      <p class="mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, ab optio
        quis eligendi quos incidunt suscipit sunt necessitatibus et deleniti
        inventore. Architecto nulla nesciunt eos explicabo consectetur et vero
        perferendis!
      </p>
      <div class="flex gap-1">
        <div class="w-3 h-2 rounded-full bg-base-100"></div>
        <div class="w-3 h-2 rounded-full bg-base-100"></div>
        <div class="w-12 h-2 rounded-full bg-base-100"></div>
      </div>
    </div>
  </section>
</main>
